body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #413c3c;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.video-grid {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px; /* Максимальная ширина сетки */
    gap: 20px;
    padding: 20px;
}

.video-item {
    text-align: center;
    background: #918d8d;
    padding: 10px;
    /* border: 1px solid #ddd; */
    max-width: 300px; /* Максимальная ширина миниатюры */
}

.thumbnail {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Соотношение сторон 16:9 */
    overflow: hidden;
    border-radius: 8px;
    max-width: 300px; /* Максимальная ширина */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: 1;
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}

.thumbnail .duration {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 4px;
    z-index: 3;
}

.duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 5px;
    font-size: 12px;
}

@media (min-width: 768px) {
    .thumbnail {
        transition: transform 0.22s ease;
    }
    .thumbnail:hover {
        transform: scale(1.15);
    }
    .thumbnail:hover {
        max-width: 320px; /* Ограничение при увеличении */
    }
}

.video-item:hover {
    /* color: gray; */
    border: 1px solid #ddd;
}

a {
    color: rgb(255, 255, 255); /* Цвет ссылки */
    text-decoration: none; 
}
a:hover {
    color: rgba(255, 0, 0, 0.616); /* Цвет ссылки при наведении */
}

a:visited {
    color: rgba(255, 190, 190, 0.945); /* Цвет посещенной ссылки */
}

a:active {
    color: rgb(209, 62, 99); /* Цвет при нажатии */
}
